.wrapper
  .banner
    .banner__container
      .banner__text Вводь промокод
      .banner__promo tribuna2022
      .banner__text отримай
      .banner__bonus 200₴
      .banner__text.banner__text-last на рахунок!
      ul.banner__list
        li.banner__item Реєструйся на <a href='https://www.favbet.com/'>favbet.com</a>
        li.banner__item Вводь промокод tribuna2022 при реєстрації
        li.banner__item Зроби депозит #[span від 200 грн], роби ставку з коефіцієнтом від 2.0 на суму #[span від 200 грн]
        li.banner__item Отримуй #[span 200 грн] бонусу від Favbet
      .banner__footer
        .banner__footer-top * — промокод #[span tribuna2022] працює тільки для нових гравців
        .banner__footer-bottom Промокод діє: #[span 14.11 - 25.12]





