.wrapper
  .banner
    .banner__title BONIFICACIÓN #[br] #[span DE BIENVENIDA]
    .banner__info
      .banner__info-top.banner__info-item
        .in 235000 CLP
        .bonus
          .bonus__top 235000 CLP
          .bonus__bottom al depositar
        .in 235000 CLP
      .banner__info-bottom.banner__info-item
        .in 47000 CLP
        .in 47000 CLP
        .bonus
          .bonus__top 47000 CLP
          .bonus__bottom sin riesgo
        .in 47000 CLP

